@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

/* RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}


/* GENERAL */
body {
  min-height: 100vh;
  width: 100%;
  background-color: hsl(330, 100%, 98%);
  font-family: "Outfit", sans-serif;
  font-size: 1rem;
}

/* mobile image */
.mobile-omelette-image {
  margin-bottom: 1.5rem;
}

/* desktop image hidden */
.desktop-omelette-image {
  display: none;
}

/* container */
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
}

ul,
ol {
  list-style-position: inside;
}

.section {
  font-family: "Young Serif", serif;
}


/* Header */
.recipe-title {
  font-family: "Young Serif", serif;
  font-weight: 500;
  font-size: 2.5rem;
}


/* attributon */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%)
}