@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

/* RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}


/* GENERAL */
body {
  min-height: 100vh;
  width: 100%;
  background-color: hsl(330, 100%, 98%);
  font-family: "Young Serif", serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%)
}