@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

/* || RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}


/* || GENERAL */
body {
  min-height: 100vh;
  width: 100%;
  background-color: hsl(330, 100%, 98%);
  font-family: "Outfit", sans-serif;
  font-size: 1.2rem;
}


/* desktop image hidden */
.desktop-omelette-image {
  display: none;
}

/* container */
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
  background-color: white;
}

ul,
ol {
  list-style-position: inside;
}

.section {
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section-title {
  font-family: "Young Serif", serif;
  color: hsl(14, 45%, 36%);
  font-weight: 500;
}


/* Header */
.recipe-title {
  font-family: "Young Serif", serif;
  font-weight: 500;
  font-size: 2.3rem;
  margin-top: 1rem;
}


/* Recipe intro */
.recipe-intro {
  line-height: 1.5
}


/* Preparation */
.recipe-preparation-time {
  background-color: hsl(330, 100%, 98%);
  border-radius: 10px;
  padding: 1.5rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.preparation-title {
  color: hsl(332, 51%, 32%);
  font-size: 1.5rem;
  font-weight: 600;
}

.preparation-ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}


/* Ingredients */
.ingredients-ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}


/* Instructions */
.recipe-instructions {
  border-top: 1px solid hsl(30, 10%, 34%);
  border-bottom: 1px solid hsl(30, 10%, 34%);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.instructions-ol {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Nutrition */
.nutrition-tr {
  border-bottom: 2px solid saddlebrown;
}

.nutrition-tr .nutrition-td {
  border-bottom: 1px solid hsl(30, 10%, 34%);
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.nutrition-td-left {
  padding-left: 2rem;
}

.nutrition-span {
  color: hsl(14, 45%, 36%);
  font-weight: 600;
}

.nutrition-tr:last-child .nutrition-td {
  border-bottom: none;
}


/* attributon */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%)
}


@media screen and (min-width: 768px) {
  .mobile-omelette-image {
    display: none;
  }

  .desktop-omelette-image {
    display: initial;
    border-radius: 10px;
  }
  
  .container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
  }
}

@media screen and (min-width: 1280px) {
  .mobile-omelette-image {
    display: none;
  }

  .desktop-omelette-image {
    display: initial;
    border-radius: 10px;
  }
  
  .container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
  }
}